
.options {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  .delete-button {
    cursor: pointer;
    &:hover {
      mat-icon{
        color: rgb(201, 39, 39);
      }
    }
  }
  .update-button {
    cursor: pointer;
    color: #fff;
    &:hover {
      mat-icon{
        color: #fff
      }
    }
  }
}

.recipe-wrap {
  max-width: 1150px;
  border-radius: 8px;
  box-shadow: 1px 1px 4px -2px #444445;
  margin: 5px 15px;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  padding: 10px;
 
  .img-row{
    flex-direction: column;
    display: flex;
    margin-bottom: 20px;
    .column {
      flex-direction: column;
      display: flex;
      flex-grow: 1;
      order: 2;
    }
    .recipe-img {
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      width: 100%;
      height: 225px;
      order: 1;
      // margin-left: 15px;
      margin-bottom: 25px;
    }
    .title-box {
      display: flex;
      flex-direction: column;
      padding: 5px;
      .title {
        margin: 12px 0;
        font-size: 22px;
      }
    }
  }
  .description {
    width: 100%;
  }
}

@media only screen and (min-width: 554px) {
  .recipe-wrap {
    .img-row {
      flex-direction: row;
      .column {
        order: 1;
      }
      .recipe-img {
        margin-left: 15px;
        margin-bottom: 0;
        order: 2;
        min-width: 225px;
        max-width: 225px;
      }
    }
  }
}
