
.options {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  .delete-button {
      cursor: pointer;
      &:hover {
          mat-icon{
              color: #000;
          }
      }
  }
  .update-button {
      cursor: pointer;
      &:hover {
            mat-icon{
              color: #fff
          }
      }
  }
}

.recipe-wrap {
  max-width: 1150px;
  border-radius: 8px;
  box-shadow: 1px 1px 4px -2px #444445;
  display: flex;
  margin: 5px 15px;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
 
  .recipe-img {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    height: calc(375px - 30px);
  }
  .title-box {
    display: flex;
    flex-direction: column;
    padding: 5px;
    .title {
      margin: 12px 0;
      font-size: 22px;
    }
    .category {
      padding: 0 5px;
      color: rgb(189, 33, 33);
      font-weight: bold;
      cursor: pointer;
      transition: color ease .2s;
      margin-bottom: 20px;
      &:hover,
      &:active,
      &:focus {
        color: rgb(250, 94, 94);
      }
    }
    .tags {
      cursor: pointer;
      color: rgb(96, 96, 96);
      padding: 0 5px;
      margin-bottom: 5px;
      .tag {
        transition: color ease .4s;
        margin-right: 5px;
      }
      &:hover,
      &:active,
      &:focus {
        .tag {
          color: rgb(195, 195, 195);
        }
      }
    }
  }
}
@media only screen and (min-width: 600px) {
    .recipe-img {
        width: 50%;
        height: calc((600px - 30px) / 2);
    }
}
@media only screen and (min-width: 768px) {
    .recipe-img {
        width: 50%;
        height: calc((768px - 30px) / 2);
    }
}
@media only screen and (min-width: 1000px) {
    .recipe-img {
        width: 50%;
        height: calc((1000px - 30px) / 2);
    }
}