
<form
  (ngSubmit)="onSubmit()"
  [formGroup]="mealForm"
  (keydown.enter)="$event.preventDefault()"
  class="add-form">

  <!-- webcam-component -->
  <app-capture-img
    [showWebcam]="useCamera"
    (imgEmitter)="onHandleImageEmit($event)"></app-capture-img>
  
  <!-- name field -->
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input
      name="name"
      formControlName="name"
      matInput placeholder="">
  </mat-form-field>

  <!-- making time field -->
  <mat-form-field>
    <mat-label>Making time</mat-label>
    <input
      name="makingTime"
      formControlName="makingTime"
      matInput placeholder="">
  </mat-form-field>

  <!-- Category -->
  <mat-form-field
  class="cat-input">
    <mat-label>Category</mat-label>
    <input
      name="category"
      formControlName="category"
      matInput placeholder="">
  </mat-form-field>

  <!-- ingredients -->
  <app-ordered-list
    [label]="'Ingredients'"
    [items]="mealForm.get('ingredients').value"
    (emitValue)="onAddIngr($event)"
  ></app-ordered-list>

  <!-- steps -->
  <app-ordered-list
    [label]="'Steps'"
    [items]="mealForm.get('steps').value"
    (emitValue)="onAddStep($event)"
  ></app-ordered-list>

  <!-- tags -->
  <app-ordered-list
    [label]="'Tags'"
    [items]="mealForm.get('tags').value"
    (emitValue)="onAddSTag($event)"
  ></app-ordered-list>

  <!-- description -->
  <mat-form-field>
    <mat-label>Description</mat-label>
    <textarea
      name="description"
      formControlName="description"
      matInput placeholder="">
    </textarea>
  </mat-form-field>

  <!-- img field -->
  <div class="img-section">
    <div class="img-row">
      <input
        #fileInput
        (change)="onFileSelect($event)"
        type="file"
        class="file-input"
        id="file-input">
  
      <!-- photo -->
      <button 
        type="button" 
        (click)="fileInput.click()"
        mat-raised-button>
        Photo
        <mat-icon>add_photo_alternate</mat-icon>
      </button>
  
      <!-- camera -->
      <!-- <button 
        type="button" 
        (click)="onFileCapture(e)"
        mat-raised-button>
        Camera
        <mat-icon>camera_alt</mat-icon>
      </button> -->
    </div>
    <div class="img-row">
      <!-- preview -->
      <div 
        class="show-pic" 
        [ngStyle]="{'background-image': 'url(' + (downloadURL | async) + ')'}"></div>  
    </div>
  </div>

  <button 
    type="submit" 
    class="submit-btn"
    mat-raised-button>
    Submit
    <mat-icon>favorite_border</mat-icon>
  </button>

  {{ uploadPercent$ | async | floor }}
</form>
