.add-form {
  width: 75%;
  margin: 15px auto;
  mat-form-field {
    width: 100%;
  }
  .file-input {
    display: none;
  }
  .img-section {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 25px;
    .img-row{
      display: flex;
      flex-direction: column;
      button {
        margin: 0 10px 15px 0;
      }
    }
  }
  .show-pic {
    width: 140px;
    height: 70px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    margin: 0;
    border: 1px rgb(92, 92, 92) dashed;
  }
  .cat-input {
    margin-top: 5px;
  }
}

@media (max-width: 768px) {
  .add-form {
    width: 100%;
    padding: 10px;
  }
}