
.recipe-wrap {
  padding: 10px;
  display: flex;
  flex-direction: column;
  .recipe-img {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 225px;
    height: 225px;
    min-width: 225px;
    margin: 0 auto;
  }

  .title-box {
    .title {
      font-size: 32px;
      font-weight: 900;
      margin-top: 0;
      margin-bottom: 5px;
    }
    .category {
      color: rgb(94, 94, 94);
      font-size: 16px;
      font-weight: 500;
      margin-bottom: 10px;
    }
    .makin-time {
      color: #000;
      font-size: 14px;
      font-weight: 700;
    }
    .description {
      font-size: 14px;      
      margin-bottom: 5px;
    }
  }

  .options {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    .update-button {
      margin-right: 15px;
      cursor: pointer;
      color: #fff;
      &:hover {
        mat-icon{
          color: #fff
        }
      }
    }
  }
}

.row {
  flex-direction: column;
  display: flex;
}
@media only screen and (min-width: 554px) {
  .row {
    flex-direction: row;
    .recipe-img {
      margin-left: auto;
      order: 2;
    }
  }
}