/* You can add global styles to this file, and also import other style files */

* {
  box-sizing: border-box;
}
html, body {
  height: 100%;
}
body {
  margin: 0; font-family: 'Karla', sans-serif;
  // background-color: rgb(223, 223, 223);
}
$main-blue: rgb(83, 175, 251);

@import '~@angular/material/theming';
@include mat-core();
$my-app-primary: mat-palette($mat-blue, 300);
$my-app-accent:  mat-palette($mat-pink, 500, 900, A100);
$my-app-warn:    mat-palette($mat-deep-orange);
$my-app-theme:   mat-light-theme($my-app-primary, $my-app-accent, $my-app-warn);
@include angular-material-theme($my-app-theme);
